.App.container {
  padding: 35px 0 0 0;
}
.game-form {
  margin-top: 35px;
  max-width: 750px;
}
.countdown-container {
  margin-bottom: 25px;
}

.card-container {
  width: 100%;
  text-align: center;
  display: inline-block;
}

.card-question {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  max-width: 500px;
  padding: 0rem 1.5rem;
}

.card-question ul {
  margin-left: 0;
}
.card-question li {
  list-style: none;
}
.card-question button {
  width: 100%;
}
