body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* appear - on page load */
.fade-appear {
    opacity: 0;
    z-index: 1;
}
.fade-appear.fade-appear-active {
  opacity: 1;
  transition: opacity 1000ms linear;
}

/* enter */
.fade-enter {
  opacity: 0;
  z-index: 1;
}
.fade-enter.fade-enter-active {
    opacity: 1;
    transition: opacity 1000ms linear;
}

/* exit */
.fade-exit {
    opacity: 1;
}
.fade-exit.fade-exit-active {
    opacity: 0;
    transition: opacity 1000ms linear;
}
.fade-exit-done {
  opacity: 0;
}

/* slide enter */
.slide-enter {
  opacity: 0;
  transform: translateX(350px);
  z-index: 1;
}
.slide-enter.slide-enter-active {
    opacity: 1;
    transition: opacity 350ms linear, transform 350ms ease-in;
    transform: translateX(0);
    /*transform: scale(1) translateY(0);
    transition: opacity 3000ms linear 1000ms, transform 3000ms ease-in-out 1000ms;*/
}

/* slide exit */
.slide-exit {
    opacity: 1;
    transform: scale(1) translateX(0);

}
.slide-exit.slide-exit-active {
    opacity: 0;
    transform: translateX(-350px);
    transition: opacity 250ms linear, transform 250ms ease-in;
    /*transform: scale(0.97) translateY(5px);
    transition: opacity 1500ms linear, transform 1500ms ease-out;*/

}
.slide-exit-done {
  opacity: 0;
}

.card-container {
  position: relative;
  margin: 0 auto;
}
